{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    {% block titulo %}
        
    {% endblock titulo %}

    <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  
    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/main.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-primary" >

   <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="{% url 'home' %}" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="{% static 'img/nutriconecta.png' %}" alt="">
      </a>
      <!-- Nav Menu -->
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'home' %}" class="active">Home</a></li>
          {% block btns %}
            
          {% endblock btns %}
            
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav><!-- End Nav Menu -->
      <nav>
        {% if user.is_authenticated %}
        <div class="nav-item dropdown pe-3">
          <div class="d-flex align-items-center">
            
            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
              <img src="{% static 'img/img-user/profile-img.jpg' %}" alt="Profile" class="rounded-circle" width="40" height="40">
              <span class="d-none d-md-block dropdown-toggle ps-2">{{ user }}</span>
            </a><!-- End Profile Image Icon -->
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
              <li class="dropdown-header">
                <h6>{{ user }}</h6>
                <!--<span>Web Designer</span>-->
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
          
              <li>
                <a class="dropdown-item d-flex align-items-center" href="{% url 'perfil' %}">
                  <i class="bi bi-person"></i>
                  <span>Mi Perfil</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
          
              <li>
                <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                  <i class="bi bi-gear"></i>
                  <span>Ajustes de la cuenta</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item d-flex align-items-center" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="bi bi-box-arrow-right"></i>
                  <span>Cerrar Sesión</span>
                </a>
              </li>
            </ul><!-- End Profile Dropdown Items -->
          </div>
        </div><!-- End Profile Nav -->
        
        {% else %}
        <a class="btn btn-getstarted" href="{% url 'registro' %}">Registrarse</a>
        <a class="btn btn-getstarted" href="{% url 'login' %}">Iniciar Sesión</a>
        {% endif %}
      </nav>
    </div>
  </header><!-- End Header -->

  <main>
    <div class="container"> 
        <!-- Outer Row -->
        <div class="row justify-content-center margen-bar margen-footer">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block carousel-container">
                              <div class="carousel-text">"El ejercicio regular es la clave para una vida saludable."</div>
                              <div class="carousel-text">"Una alimentación equilibrada es el primer paso hacia una mejor calidad de vida."</div>
                              <div class="carousel-text">"Dormir bien no es un lujo, es una necesidad para el bienestar físico."</div>
                              <div class="carousel-text">"Pequeños cambios diarios pueden crear grandes resultados en tu salud."</div>
                              <div class="carousel-text">"Hidratarse es esencial para mantener un cuerpo en equilibrio."</div>
                              <div class="carousel-text">"Tu cuerpo es tu templo, cuídalo con amor y respeto." </div>
                              <div class="carousel-text">"El movimiento es medicina para el cuerpo y el alma." </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    {% block contenido %}
                                        
                                    {% endblock contenido %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </main>
  <br>
  <br>
  <br>
  <br><br>
  <br>
  <br>
  <br>
      <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="container footer-top">
        <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-about">
            <a href="{% url 'home' %}" class="logo d-flex align-items-center">
                <span>Nutriconecta</span>
            </a>
            <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
            <div class="social-links d-flex mt-4">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
            </div>
            <div class="col-lg-2 col-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Terms of service</a></li>
                    <li><a href="#">Privacy policy</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-6 footer-links">
                <h4>Our Services</h4>
                <ul>
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">Web Development</a></li>
                    <li><a href="#">Product Management</a></li>
                    <li><a href="#">Marketing</a></li>
                    <li><a href="#">Graphic Design</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                <h4>Contact Us</h4>
                <p>A108 Adam Street</p>
                <p>New York, NY 535022</p>
                <p>United States</p>
                <p class="mt-4"><strong>Phone:</strong> <span>+1 5589 55488 55</span></p>
                <p><strong>Email:</strong> <span>info@example.com</span></p>
            </div>
        </div>
        </div>

        <div class="container copyright text-center mt-4">
        <p>&copy; <span>Copyright</span> <strong class="px-1">Nutriconecta</strong> <span>Todos los derechos reservados</span></p>
        <div class="credits">
            Designed by <a href="https://bootstrapmade.com/">$WHACKD</a>
        </div>
        </div>

    </footer><!-- End Footer -->

    <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  
  

  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'js/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'js/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/chart-area-demo.js' %}"></script>
  <script src="{% static 'js/chart-pie-demo.js' %}"></script>
  <link href="{% static 'lightbox/js/lightbox.js' %}" rel="stylesheet">

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/carousel.js' %}"></script>

        
    

</body>

</html>