{% extends 'baseLogin.html' %}

{% load static %}
    
{% block titulo %}
    Psicosfera | Reestablecer
{% endblock %}

{% block tituloLogin %}
    Reestablecer
{% endblock %}

{% block btns %}
    
{% endblock  %}
    

{% block contenido %}
<div class="text-center">
  <h1 class="h4 text-gray-900 mb-2">¿Olvidaste tu contraseña?</h1>
  <p class="mb-4">Lo entendemos, pasan cosas. ¡Simplemente ingrese su dirección de correo electrónico a continuación y le enviaremos un enlace para restablecer su contraseña!</p>
</div>
<form class="user" method = "post" action="" style="margin: auto;">
  {% csrf_token %}
  <div class="form-group">
      <input type="email" class="form-control form-control-user"
          id="exampleInputEmail" aria-describedby="emailHelp"
          placeholder="Enter Email Address...">
  </div>
  <a href="{% url 'login' %}" class="btn btn-primary btn-user btn-block">
      Reestablecer Contraseña
  </a>
</form>
<hr>
<div class="text-center">
  <a class="small" href="{% url 'registro' %}">Crea una cuenta</a>
</div>
<div class="text-center">
  <a class="small" href="{% url 'login' %}">¿Ya tienes cuenta? Inicia Sesión</a>
</div>
{% endblock %}

