{% extends 'base.html' %}

{% load static %}
    
{% block titulo %}
Psicosfera | Registro de Usuario
{% endblock %}

{% block btns %}
    
{% endblock %}


{% block links %}
     <!-- Custom styles for this template-->
     <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
{% endblock  %}
    

{% block contenido %}
<section class="bg-gradient-primary" >
  <div class="container justify-content-center">
    <div class="row my-5">
        <div class="col-lg-6">
            <div class="button-usuario"> 
                <a href="{% url 'nuevo-paciente' %}" class="btn btn-primary btn-usuario btn-block bg-login2-image bg-purple">
                    Soy Paciente
                </a>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="button-usuario ">
                <a href="{% url 'nuevo-psicologo' %}" class="btn btn-primary btn-usuario btn-block bg-login-image bg-purple">
                    Soy Psicólogo
                </a>
            </div>
        </div>
    </div>
  </div>
</section>

{% endblock %}


{% block scripts %}
    
{% endblock %}
    