{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>
    
    {% block titulo %}
        
    {% endblock titulo %}
        
  </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/icono.ico' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
  <link href="{% static 'css/notificaciones.css' %}" rel="stylesheet">

  {% block links %}
    
  {% endblock links %}
    

</head>

<body class="index-page" class="bg-gradient-primary" data-bs-spy="scroll" data-bs-target="#navmenu" data-aos-easing="ease-in-out" data-aos-duration="600" data-aos-delay="0">

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <a href="{% url 'home' %}" class="logo d-flex align-items-center me-auto me-xl-0">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <img src="{% static 'img/nutriconecta.png' %}" alt="">
        </a>
      <!-- Nav Menu -->
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'home' %}" class="active">Inicio</a></li>
          {% block btns %}
            
          {% endblock btns %}
            
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav><!-- End Nav Menu -->
      <nav>
        {% if user.is_authenticated %}
        <div class="nav-item dropdown pe-3">
          <div class="d-flex align-items-center">
            <a class="notification-icon" href="#" data-bs-toggle="dropdown">
              <img src="{% static 'img/elementos/mensajero.png' %}" alt="Chats" class="icon-img">
            </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow chats">
              <li class="dropdown-header">
                <h6>Chats</h6>
              </li>
              <li>
                <hr class="dropdown-divider">
                <li>
                  <a class="dropdown-item d-flex align-items-center" href="{% url 'chat' %}">
                    <i class="bi bi-chat"></i>
                    <span>Mis Chats</span>
                  </a>
                </li>
            </ul><!-- End Chat Dropdown Items -->
          
          <div class="notification-icon-container">

            <a class="notification-icon " class="notificaciones-icono" href="#" data-bs-toggle="dropdown" id="btnTodas2">
              <span id="punto-rojo"></span>
              <img src="{% static 'img/elementos/notificacion.png' %}" alt="Notification" class="icon-img">
            </a>
            
            {% csrf_token %}
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications-container text-center">
            <li class="dropdown-header">
                <h6>Notificaciones</h6>
                <div class="btn-group" role="group" aria-label="Notificaciones" id="notificacionesBtnGroup">
                  <button type="button" class="btn btn-custom" id="btnTodas">No Leídas</button>
                  <button type="button" class="btn btn-custom" id="btnLeidas">Leídas</button>
              </div>
            </li>
              <!-- Notificaciones no leídas -->
              {% for notification in user_notifications %}
              {% if not notification.is_read %}
                  <!-- Notificación no leída -->
                  <li class="notificacion-no-leida">
                    <a href="{{ notification.notification_url }}" class="notification-link" data="{{ notification.id }}">
                      <hr class="dropdown-divider">
                      <div class="notification-content">
                        <span class="notification-message">{{ notification.mensaje }}</span>
                        <span class="notification-timestamp">{{ notification.timestamp|date:"F j, Y H:i" }}</span>
                      </div>
                    </a>
                  </li>
                  {% endif %}
                  {% endfor %}

    <!-- Notificaciones leídas -->
    {% for notification in notificacionesLeidas %}
    <li class="notificacion-leida">
        <a href="{{ notification.notification_url }}" class="notification-link" data="{{ notification.id }}">
            <hr class="dropdown-divider">
            <div class="notification-content">
                <span class="notification-message">{{ notification.mensaje }}</span>
                <span class="notification-timestamp">{{ notification.timestamp|date:"F j, Y H:i" }}</span>
            </div>
        </a>
    </li>
    {% endfor %}
                  </ul>
                </div>
                  
                  <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img id="foto3" src="" alt="user" class="fotoPerfilDiminuta">
                    
                    <span class="d-none d-md-block dropdown-toggle ps-2">{{ user }}</span>
            </a><!-- End Profile Image Icon -->
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
              <li class="dropdown-header">
                <h6>{{ user }}</h6>
                <!--<span>Web Designer</span>-->
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
          
              <li>
                <a class="dropdown-item d-flex align-items-center" href="{% url 'perfil' %}">
                  <i class="bi bi-person"></i>
                  <span>Mi Perfil</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
          
              <li>
                <a class="dropdown-item d-flex align-items-center" href="{% url 'perfil' %}" data-bs-target="#profile-settings">
                  <i class="bi bi-gear"></i>
                  <span>Ajustes de la cuenta</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item d-flex align-items-center" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="bi bi-box-arrow-right"></i>
                  <span>Cerrar Sesión</span>
                </a>
              </li>
            </ul><!-- End Profile Dropdown Items -->
          </div>
        </div><!-- End Profile Nav -->
        
        {% else %}
        <a class="btn btn-getstarted" href="{% url 'registro' %}">Registrarse</a>
        <a class="btn btn-getstarted" href="{% url 'login' %}">Iniciar Sesión</a>
        {% endif %}
      </nav>
    </div>
  </header><!-- End Header -->

  
    {% block contenido %}
        
    {% endblock contenido %}
  

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container footer-top ">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="{% url 'home' %}" class="logo d-flex align-items-center">
            <span>NutriConecta</span>
          </a>
          <p>
            "La felicidad no es la ausencia de problemas, sino la capacidad para lidiar con ellos." - Steve Maraboli
          </p>
          <p>
            "No puedes controlar las olas, pero puedes aprender a surfear." - Jon Kabat-Zinn
          </p>
          <div class="social-links d-flex mt-4">
            <a href="https://twitter.com/nutriconectanet?s=11&t=PRHtWd7FSooyUYwKU13DSA"><i class="bi bi-twitter"></i></a>
            <a href="https://www.facebook.com/nutriconectanet"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/nutriconectanet/"><i class="bi bi-instagram"></i></a>
          </div>
        </div>


        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contactanos</h4>
          <p><strong>Email:</strong> <span>nutriconectanet@gmail.com</span></p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>&copy; <span>Copyright</span> <strong class="px-1">NutriConecta</strong> <span>Todos los derechos reservados</span></p>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">$WHACKD</a>
      </div>
    </div>

  </footer><!-- End Footer -->

  <!-- Scroll Top Button -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">¿Seguro que quieres cerrar sesión?</h5>
              <button class="close no-border" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
              </button>
          </div>
          <div class="modal-body">Seleccione "Cerrar sesión" a continuación si está listo para finalizar su sesión actual.</div>
          <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
              <a class="btn btn-primary" href="{% url 'logout' %}">Cerrar Sesión</a>
          </div>
      </div>
  </div>
</div>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChp083C-WKB5jSySbKyATCg9THrP9w9hA&callback=initMap" async defer></script>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'js/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
  <script src="{% static 'js/jquery-3.6.0.min.js' %}" ></script>
  <script src="{% static 'js/jquery-3.6.0.js' %}" ></script>
  <!-- Page level plugins -->
  <script src="{% static 'js/Chart.js' %}"></script>
  <script src="{% static 'js/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/chart-area-demo.js' %}"></script>
  <script src="{% static 'js/chart-pie-demo.js' %}"></script>
  <link href="{% static 'lightbox/js/lightbox.js' %}" rel="stylesheet">
  <script>
    const UrlDatos = "{% url 'datos' %}"; //es la ruta de los datos en general que se pasara al js
  </script>
  <script>
    const UrlImagenDefault = "{% static 'img/usuario.png' %}"; //es la ruta de la imagen por defalut en general que se pasara al js
  </script>
  <script src="{% static 'js/datosPerfil.js' %}"></script>
  
  {% block scripts %}
  {% endblock scripts %}

  <script>
    $(document).ready(function () {
        // Manejar clic en el ícono de notificación
        $('.notification-link').on('click', function (e) {
            e.preventDefault();
            var notificationID = $(this).attr('data');
            var notificationUrl = $(this).attr('href');
            // Hacer una solicitud al servidor para marcar la notificación como leída
            $.ajax({
                url: '{% url "marcar_notificacion_leida" %}',
                method: 'POST',
                data: {
                  'notification_id': notificationID,
                  'notification_url': notificationUrl,
                  'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                
                },
                success: function (data) {
                    if (data.success) {
                        window.location.href = data.redirect_url;
                    }
                }
            });
        });
    });
</script>
<script>
  $(document).ready(function () {
      // Manejar clic en el botón "Todas"
      $('#btnTodas').on('click', function (e) {
        e.stopPropagation()
          // Actualizar el contenido en la lista desplegable
          mostrarTodasNotificaciones();
          $(this).addClass('btn-seleccionado');
          $('#btnLeidas').removeClass('btn-seleccionado');
      });

      // Manejar clic en el botón "Todas"
      $('#btnTodas2').on('click', function (e) {
        e.stopPropagation()
          // Actualizar el contenido en la lista desplegable
          mostrarTodasNotificaciones();
          $('#btnLeidas').removeClass('btn-seleccionado');
          $('#btnTodas').addClass('btn-seleccionado');
      });


      // Manejar clic en el botón "Leídas"
      $('#btnLeidas').on('click', function (e) {
        e.stopPropagation()
          // Filtrar notificaciones leídas y actualizar el contenido
          mostrarNotificacionesLeidas();
          // Aplicar estilo al botón seleccionado
          $(this).addClass('btn-seleccionado');
          $('#btnTodas').removeClass('btn-seleccionado');
      });

      // Manejar eventos de "hover" sobre los botones
      $('#btnTodas, #btnLeidas').on('mouseenter', function () {
        // Aplicar estilo de "hover" al botón cuando el mouse está sobre él
        $(this).addClass('btn-hover');
    });

    $('#btnTodas, #btnLeidas').on('mouseleave', function () {
        // Quitar estilo de "hover" al botón cuando el mouse sale de él, excepto si está seleccionado
        if (!$(this).hasClass('btn-selected')) {
            $(this).removeClass('btn-hover');
        }
    });

      function mostrarTodasNotificaciones() {
        // Aquí colocas el código para mostrar todas las notificaciones
        // Puedes utilizar el contenido que ya está en el template
        // o realizar una solicitud AJAX para obtener nuevas notificaciones.
    
        // Ejemplo de cómo puedes ocultar/mostrar elementos:
        $('.notificacion-leida').hide();
        $('.notificacion-no-leida').show();
        
      }
    
      function mostrarNotificacionesLeidas() {
        // Aquí colocas el código para mostrar solo las notificaciones leídas
        // Puedes utilizar el contenido que ya está en el template
        // o realizar una solicitud AJAX para obtener nuevas notificaciones.
    
        // Ejemplo de cómo puedes ocultar/mostrar elementos:
        $('.notificacion-no-leida').hide();
        $('.notificacion-leida').show();
      }
  });
</script>
<script>
  var notificacionesNoLeidas = {{ notificacionesNoLeidas|default:0 }};
  document.addEventListener('DOMContentLoaded', function () {
    var iconoNotificaciones = document.getElementById('punto-rojo');

    // Actualiza la visibilidad del punto rojo según la presencia de notificaciones no leídas
    if (notificacionesNoLeidas > 0) {
        iconoNotificaciones.style.display = 'block';
    } else {
        iconoNotificaciones.style.display = 'none';
    }
});
</script>
    
  <script src="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>