{% extends 'base.html' %}
{% load static %}

{% block titulo %}
NutriConecta | Contacta a un profesional
{% endblock %}
 

{% block btns %}
<li><a href="{% url 'home' %}#Nosotros">Nosotros</a></li>
<li><a href="{% url 'home' %}#porque">¿Por qué usar NutriConecta?</a></li>
<li><a href="{% url 'home' %}#P&R">P&R</a></li>
<li><a href="{% url 'contacto' %}">Contacto</a></li>
<!-- <li><a href="#" id="abrirModal">Contacto</a></li> -->
<li><a href="{% url 'paciente' %}">Buscar consulta</a></li>
<!--
  <li class="dropdown has-dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down"></i></a>
    <ul class="dd-box-shadow">
      <li><a href="#">Dropdown 1</a></li>
      <li class="dropdown has-dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down"></i></a>
        <ul class="dd-box-shadow">
          <li><a href="#">Deep Dropdown 1</a></li>
          <li><a href="#">Deep Dropdown 2</a></li>
          <li><a href="#">Deep Dropdown 3</a></li>
          <li><a href="#">Deep Dropdown 4</a></li>
          <li><a href="#">Deep Dropdown 5</a></li>
        </ul>
      </li>
      <li><a href="#">Dropdown 2</a></li>
      <li><a href="#">Dropdown 3</a></li>
      <li><a href="#">Dropdown 4</a></li>
    </ul>
  </li>
-->
{% endblock %}


{% block contenido %}
<!-- Hero Section - Home Page -->
<section id="hero" class="hero">

  <img src="{% static 'img/bienvenida.jpg' %}" alt="" data-aos="fade-in">

  <div class="container">
    {% if messages %}
    <div class="alert alert-success" role="alert">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}
      {% if not user.is_authenticated %}
      <div>
        <h2 data-aos="fade-up" data-aos-delay="100">Bienvenido a NutriConecta.</h2>
        <p data-aos="fade-up" data-aos-delay="200">Tu salud fisica, nuestro compromiso total.</p>
      </div>
    
      <div class="section-nutriconecta">
        <p data-aos="fade-up" data-aos-delay="200" ><em>Bienvenido a NutriConecta - Donde tu viaje hacia el 
          bienestar fisico y la excelencia profesional se entrelazan. Para aquellos en busca de apoyo, ofrecemos
          un santuario digital de escucha y recomendación. Para los nutriólogos, brindamos una plataforma innovadora que
          amplifica su alcance y potencia su impacto. En este espacio, cada conversación cuenta, cada historia resuena y 
          cada conexión transforma. Porque en NutriConecta, creemos que juntos podemos redefinir el futuro de la salud fisica.
          </em>
        </p>
        </div>

        <div class=" d-flex justify-content-center align-items-center" >
          <form action="#" class="sign-up-form" data-aos="fade-up" data-aos-delay="300">
            <input type="submit" class="btn btn-success btn-home" value="Iniciar sesión" formaction="{% url 'login' %}">
          </form>
        </div>
      {% else %}
      <div>
        <h2 data-aos="fade-up" data-aos-delay="100">Bienvenido a NutriConecta, {{user}}</h2>
        <p data-aos="fade-up" data-aos-delay="200">Tu salud fisica, nuestro compromiso total.</p>
      </div>
    
      <div class="section-nutriconecta">
        <p data-aos="fade-up" data-aos-delay="200" ><em>Bienvenido a Nutriconecta - Donde tu viaje hacia el 
          bienestar fisico y la excelencia profesional se entrelazan. Para aquellos en busca de apoyo, ofrecemos
          un santuario digital de escucha y comprensión. Para los nutriólogos, brindamos una plataforma innovadora que
          amplifica su alcance y potencia su impacto. En este espacio, cada conversación cuenta, cada historia resuena y 
          cada conexión transforma. Porque en NutriConecta, creemos que juntos podemos redefinir el futuro de la salud fisica.
          </em>
        </p>
        </div>

        <div class=" d-flex justify-content-center align-items-center" >
          <form action="#" class="sign-up-form" data-aos="fade-up" data-aos-delay="300">
            <input type="submit" class="btn btn-success btn-home" value="¡Comienza a buscar ahora!" formaction="{% url 'paciente' %}">
          </form>
        </div>
        
      {% endif %}
    
  </div>

</section><!-- End Hero Section -->

<!--  Section - Home Page -->
<section id="Nosotros" class="features">

  <!--  Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Acerca de Nosotros</h2>
  </div><!-- End Section Title -->

  <div class="container section-content" data-aos="fade-up">
    <p>
      En NutriConecta, creemos en el poder de la conexión. 
      Somos una empresa mexicana dedicada a transformar 
      vidas al crear puentes entre profesionales de la salud 
      fisica y aquellos que buscan guía y apoyo. Nuestro 
      compromiso con la calidad, integridad y bienestar de 
      cada individuo nos ha posicionado con la visión de ser 
      líderes en atención nutriológica en línea. 
      Imaginamos un mundo donde el acceso a la salud 
      fisica está al alcance de todos, sin barreras. 
    </p>
  </div>
  <hr class="border">
  <div class="container">

    <div class="row gy-4 align-items-center features-item">
      <div class="col-lg-5 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
        <h3>Misión</h3>
        <p>
          Transformar vidas a través de conexiones significativas. 
          En NutriConecta, nos dedicamos a crear puentes entre profesionales 
          de la salud fisica y aquellos que buscan guía y apoyo.
        </p>
      </div>
      <div class="col-lg-7 order-1 order-lg-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
        <div class="image-stack">
          <img src="{% static 'img/mision1.png' %}" alt="" class="stack-front">
          <img src="{% static 'img/mision2.png' %}" alt="" class="stack-back">
        </div>
      </div>
    </div><!-- Features Item -->

    <hr class="border">

    <div class="row gy-4 align-items-stretch justify-content-between features-item ">
      <div class="col-lg-6 d-flex align-items-center features-img-bg" data-aos="zoom-out">
        <img src="{% static 'img/blog/vision.png' %}" class="img-fluid" alt="">
      </div>
      <div class="col-lg-5 d-flex justify-content-center flex-column" data-aos="fade-up">
        <h3>Visión</h3>
        <p>
          Ser la plataforma líder en México para la atención nutriológica en línea, 
          reconocida por su compromiso con la calidad, la integridad y 
          el bienestar de cada individuo. Imaginamos un mundo donde el acceso a la 
          salud fisica esté al alcance de todos, sin barreras."
        </p>
      </div>
    </div><!-- Features Item -->

    <hr class="border">

    <div class="row gy-4 align-items-center features-item">
      <div class="col-lg-5 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
        <h3>Valores</h3>
        <ul>
          <li><i class="bi bi-check"></i> <span><b>Empatía: </b>Nos ponemos en el lugar del otro, ya sea paciente o nutriólogo, para entender sus necesidades y brindar soluciones adecuadas.</span></li>
          <li><i class="bi bi-check"></i> <span><b>Integridad: </b>Nos comprometemos con la veracidad y precisión de la información, y con el respeto a la privacidad y seguridad de nuestros usuarios.</span></li>
          <li><i class="bi bi-check"></i> <span><b>Innovación: </b>Buscamos constantemente mejorar y adaptarnos a las nuevas tecnologías para ofrecer una experiencia de usuario inigualable.</span></li>
          <li><i class="bi bi-check"></i> <span><b>Responsabilidad: </b>Entendemos la importancia de la salud fisica y trabajamos con diligencia para asegurar que cada interacción en nuestra plataforma sea beneficiosa.</span></li>
          <li><i class="bi bi-check"></i> <span><b>Comunidad: </b>Creemos en el poder de la conexión y en la construcción de una comunidad donde todos se sientan apoyados y comprendidos.</span></li>
          <li><i class="bi bi-check"></i> <span><b>Compromiso: </b>Con la calidad del servicio y con cada individuo que nos elige.</span></li>
          <li><i class="bi bi-check"></i> <span><b>Confianza: </b>Garantizar un espacio seguro y respetuoso para todos.</span></li>
          <li><i class="bi bi-check"></i> <span><b>Calidad: </b>Mantener altos estándares en cada interacción.</span></li>
          <li><i class="bi bi-check"></i> <span><b>Solidaridad: </b>Entender que cada historia cuenta y cada individuo importa.</span></li>
        </ul>
      </div>
      <div class="col-lg-7 order-1 order-lg-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
        <div class="image-stack">
          <img src="{% static 'img/valores1.png' %}" alt="" class="stack-front">
          <img src="{% static 'img/valores2.png' %}" alt="" class="stack-back">
        </div>
      </div>
    </div><!-- Features Item -->

  </div>

</section><!-- End Features Section -->

<hr class="border">
<!--  Section - Home Page -->
<section id="porque" class="features">

  <div class="container section-title" data-aos="slide-right" data-aos-duration="1000">
    {% if not user.is_authenticated %}
      <h2>¿Por qué usar NutriConecta? (Para Pacientes)</h2>
    {% else %}
      <h2>¿Por qué usar NutriConecta?</h2>
    {% endif %}
  </div>

  <div class="container section-content" data-aos="slide-right" data-aos-duration="1000">
    <p><span data-aos="slide-right" data-aos-delay="100"><strong>Conexiones Significativas:</strong></span> Creamos puentes entre profesionales de salud fisica y quienes buscan guía y apoyo.</p>
    <p><span data-aos="slide-right" data-aos-delay="100"><strong>Accesibilidad:</strong></span> Atención nutriológica de calidad en línea, eliminando barreras geográficas y temporales.</p>
    <p><span data-aos="slide-right" data-aos-delay="200"><strong>Variedad de Profesionales:</strong></span> Una amplia base de datos de nutriólogos con detalles de especialidad y disponibilidad.</p>
    <p><span data-aos="slide-right" data-aos-delay="300"><strong>Adaptable a tus Necesidades:</strong></span> Diferentes niveles de servicio, desde básicos hasta premium.</p>
    <p><span data-aos="slide-right" data-aos-delay="400"><strong>Seguridad Garantizada:</strong></span> Comprometidos con la privacidad y protección de tu información.</p>
    <p><span data-aos="slide-right" data-aos-delay="500"><strong>Comunicación Efectiva:</strong></span> Notificaciones y recordatorios que te mantienen al tanto de tus citas.</p>
    <p><span data-aos="slide-right" data-aos-delay="600"><strong>Transacciones Confiables:</strong></span> Pagos en línea seguros y rápidos.</p>
  </div>
  
  <hr class="border">

  {% if not user.is_authenticated %}
  <div class="container section-title" data-aos="slide-left" data-aos-duration="1000">
    <h2>¿Por qué usar NutriConecta? (Para Nutriologos)</h2>
  </div>

  <div class="container section-content" data-aos="slide-left" data-aos-duration="1000">
    <p><strong>Expande tu Alcance:</strong> Conecta con pacientes de diferentes áreas y amplía tu práctica.</p>
    <p><strong>Acceso Instantáneo a Expedientes:</strong> Refresca tu memoria antes de cada cita accediendo fácilmente a los diagnósticos y detalles de tus pacientes, optimizando así la calidad de la consulta.</p>
    <p><strong>Plataforma Adaptable:</strong> Ofrecemos niveles de servicio desde básicos hasta premium para cada etapa de tu carrera.</p>
    <p><strong>Gestión Eficiente:</strong> Maneja tu calendario, citas y comunicación con pacientes en un solo lugar.</p>
    <p><strong>Seguridad Garantizada:</strong> Protegemos la información de tus pacientes y la tuya con los más altos estándares.</p>
    <p><strong>Forma parte de una Comunidad:</strong> Interactúa y establece conexiones con otros profesionales de salud fisica.</p>
    <p><strong>Pagos Rápidos y Seguros:</strong> Procesamiento confiable de transacciones en línea.</p>
  </div>
  {% endif %}

</section><!-- End Features Section -->

<hr class="border">

<!--  Section - Home Page -->
<section id="P&R" class="features">

  <!--  Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Preguntas y Respuestas</h2>
  </div><!-- End Section Title -->

  <div class="container section-content" data-aos="fade-up">
    <ul class="nutriconecta-list">
        <li>
            <strong>¿Qué es NutriConecta?</strong><br>
            NutriConecta es más que una simple plataforma de terapia en línea; es un espacio seguro y confidencial creado con la misión de priorizar su bienestar. Aquí, usted puede conectarse con nutriólogos altamente capacitados y experimentados sin importar su ubicación.
        </li>
        <li>
            <strong>¿Quién estará al tanto de mi salud fisica?</strong><br>
            En NutriConecta, le conectaremos con un nutriólogo especializado y altamente capacitado que estará dedicado a entender y atender sus necesidades fisicas y nutritivas. Puede estar seguro de que estará en manos de un experto comprometido en brindarle el apoyo y las herramientas necesarias para su bienestar.
        </li>
        <li>
            <strong>¿Cuánto cuesta una sesión?</strong><br>
            La transparencia es uno de nuestros pilares en NutriConecta. Cada nutriólogo en nuestra plataforma tiene un costo fijo por sesión, que usted podrá ver y comparar durante su proceso de selección. Así, puede elegir el terapeuta que mejor se adapte a sus necesidades y presupuesto.
        </li>
        <li>
            <strong>¿Cómo será mi proceso?</strong><br>
            Empezar en NutriConecta es sencillo y cómodo. Solo necesita registrarse en nuestra página web y explorar nuestro catálogo de nutriólogos calificados. Una vez seleccionado su nutriólogo, podrá agendar citas con flexibilidad y acceder a todas nuestras herramientas y recursos, incluida la posibilidad de mantener contacto constante con su terapeuta.
        </li>
        <li>
            <strong>¿Cómo están certificados los nutriólogos?</strong><br>
            La calidad y la confianza son fundamentales en NutriConecta. Todos los nutriólogos en nuestra plataforma están cuidadosamente certificados y cumplen con los más altos estándares éticos y legales. Usted puede confiar en que estará en manos de profesionales altamente calificados y comprometidos con su bienestar.
        </li>
        <li>
            <strong>¿Cómo puedo elegir a mi nutriólogo?</strong><br>
            El proceso de selección de nutriólogos en NutriConecta es intuitivo y centrado en su comodidad. Tras registrarse, tendrá acceso a un catálogo completo de profesionales altamente calificados, incluyendo detalles como valoraciones y experiencia, para que pueda tomar una decisión informada.
        </li>
        <li>
            <strong>¿Existe la posibilidad de tomar terapia presencial?</strong><br>
            Sí, en NutriConecta ofrecemos la flexibilidad de elegir entre terapia en línea o presencial. Al agendar su cita, podrá seleccionar la opción que más le convenga, incluso optar por terapeutas cercanos a su localidad para terapia cara a cara.
        </li>
        <li>
            <strong>¿Cómo funcionan las notas compartidas y personales?</strong><br>
            En NutriConecta, ofrecemos herramientas como notas personales y compartidas para enriquecer su experiencia terapéutica. Las notas personales le ofrecen un espacio para reflexionar sobre su proceso, mientras que las notas compartidas facilitan una comunicación efectiva con su nutriólogo.
        </li>
        <li>
            <strong>¿Cómo es el contacto entre el paciente y el nutriólogo?</strong><br>
            Mantenemos múltiples canales de comunicación para asegurar una experiencia fluida y efectiva entre usted y su nutriólogo. Esto incluye un chat en vivo, opción de llamadas telefónicas y notas compartidas, permitiéndole mantener un contacto constante con su terapeuta.
        </li>
        <li>
            <strong>¿Cuánto tiempo puedo usar NutriConecta?</strong><br>
            NutriConecta es una plataforma en línea diseñada para adaptarse a sus necesidades a lo largo del tiempo. No hay un límite específico en cuanto a la duración del uso; usted puede utilizar la plataforma siempre que lo necesite.
        </li>
        <li>
            <strong>¿Puedo tener una retroalimentación de mis antiguas sesiones?</strong><br>
            Sí, en NutriConecta, los usuarios tienen la capacidad de acceder a sus perfiles personales para administrar sus citas y revisar el historial de sesiones anteriores. Esto le permite recibir retroalimentación y hacer un seguimiento de su progreso a lo largo del tiempo.
        </li>
        <li>
            <strong>¿Cómo está protegida mi información personal y mi diagnóstico nutriológico?</strong><br>
            La seguridad y la privacidad de su información son de suma importancia para nosotros. NutriConecta garantiza la seguridad y privacidad de la información personal y médica de todos los usuarios y nutriólogos. Implementamos medidas de seguridad de alto nivel para garantizar la protección de sus datos.
        </li>
        <li>
            <strong>¿Puedo ingresar a NutriConecta de forma anónima?</strong><br>
            Sí, se podrá acceder a NutriConecta de forma anónima para tener una sesión, pero sin seguimiento.
        </li>
        <li>
            <strong>¿Cómo es la forma de pago?</strong><br>
            NutriConecta ofrece diversas formas de pago para su conveniencia. Los detalles específicos sobre las opciones de pago estarán disponibles en la plataforma.
        </li>
        <li>
            <strong>¿Existe la opción de pagar en efectivo?</strong><br>
            Sí, se podrá pagar en efectivo haciendo la reserva en línea.
        </li>
        <li>
            <strong>Soy un nutriólogo, ¿Cómo puedo empezar con NutriConecta?</strong><br>
            Si es un profesional en NutriConecta y está interesado en unirse a NutriConecta, la plataforma ofrece diferentes niveles de servicio, desde básicos hasta premium, adaptados a cada etapa de su carrera. El proceso de registro y otros detalles se encuentran en la plataforma.
        </li>
    </ul>
</div>

  
</section><!-- End Features Section -->

{% endblock %}

{% block scripts %}
{% endblock scripts %}