{% extends 'base.html' %}
{% load static %}


{% block titulo %}
    Perfil | {{usuario.user}}
{% endblock %}

{% block btns %}
<li><a href="{% url 'ver_perfil' username=usuario.user %}#perfil">Detalles del Especialista</a></li>
{% if usuario.usuario_agregado == 1 %}
<li><a href="{% url 'ver_perfil' username=usuario.user %}#consultorio">Consultorio</a></li>
{% endif %}
<li><a href="{% url 'ver_perfil' username=usuario.user %}#agenda">Agenda de Citas</a></li>

{% endblock %}

{% block links %}
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'lightbox/css/lightbox.css' %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/backend-plugin.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/backend.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/line-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/dripicons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/remixicon.css' %}">
{% endblock links %}

{% block contenido %}
<!-- Modales -->
<div class="modal fade" id="eliminarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"> 
  <div class="modal-dialog" role="document"> 
    <div class="modal-content"> 
      <div class="modal-header"> 
      <h5 class="modal-title" id="modalTitulo">Eliminar Solicitud de Cita</h5> 
      </button> 
      </div> 
      <div class="modal-body"> 
        <h6>¿Estas seguro de eliminar esta cita?</h6>
      </div> 
      <div class="modal-footer"> 
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button> 
      <button type="button" class="btn btn-primary" id="eliminarCita">Eliminar</button> 
      </div> 
    </div> 
  </div> 
</div>
<div class="modal fade" id="listaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"> 
  <div class="modal-dialog" role="document"> 
    <div class="modal-content"> 
      <div class="modal-header"> 
        <h5 class="modal-title" id="modalTitulo">Solicitar Cita</h5> 
          </button> 
        </div> 
        <div class="modal-body"> 
          <div class="form-group"> 
          <label for="tituloCita">Título de la Consulta:</label> 
          <input type="text" class="form-control" id="tituloCita"> 
          <label for="motivoCita">Motivo de la Consulta:</label> 
          <textarea class="form-control" id="motivoCita" rows="4"></textarea> 
          </div> 
          <div class="form-group">   
          </div> 
          </div> 
          <div class="modal-footer"> 
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button> 
          <button type="button" class="btn btn-primary" id="guardarCita">Guardar Cita</button> 
        </div> 
      </div> 
    </div> 
  </div>
<section class="section profile" id="perfil">
  <div class="row">
    <div class="col-xl-4" >
      <div class="card  mt-5 seccion_foto_fija">
        <div class="card-body pt-4 d-flex flex-column align-items-center" >
          <img src="data:image/jpeg;base64,{{ usuario.foto }}" alt="Profile" class="fotoPerfil">
          <br>
          <h2>{{usuario.nombre}} {{usuario.apellidos}}</h2>
          <h3>{{usuario.especialidad}}</h3>
          {% if usuario.usuario_agregado == 1 %}
          <h6 class="titulo_perfil" id="perfil">Contacto Agregado</h6>
          {% endif %}
          <br>
          <h6 class="titulo_perfil">Descripción</h6>
              <p class="small fst-italic">{{usuario.descripcion}}</p>
          <div class="social-links mt-2">
            <a href="{{usuario.twitter}}" id="twitter"><i class="bi bi-twitter"></i></a>
            <a href="{{usuario.facebook}}" id="facebook"><i class="bi bi-facebook"></i></a>
            <a href="{{usuario.instagram}}" id="instagram"><i class="bi bi-instagram"></i></a>
            <a href="{{usuario.linkedin}}" id="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
          <br>
          {% if usuario.usuario_agregado == 1 %}
          <button onclick="window.location.href='#agenda'" class="btn btn-primary">Agendar Cita</button>
          <br>
          <button id="botonEliminarContacto" class="btn btn-danger" onclick="eliminarContacto('{{ usuario.user }}')">Eliminar Nutriólogo</button>
          {% elif usuario.usuario_agregado == 0 and usuario.solicitud_pendiente == 0%}
          <!-- <a class="btn btn-primary" href="{% url 'agregar_contacto' username=usuario.user %}">Agregar Nutriólogo</a>-->
          <button id="botonEnviarSolicitud" class="btn btn-primary" onclick="enviarSolicitud('{{ usuario.user }}')">Enviar Solicitud</button>
          {% endif %}
 
          {% if usuario.solicitud_pendiente == 1 and usuario.usuario_agregado == 0 %}
          <button class="btn btn-primary" disabled>Solicitud Enviada</button>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col-xl-8">

      <div class="card mt-5">
        <div class="card-body pt-3">
          <!-- Bordered Tabs -->
          <div class="tab-content pt-2">

            <div class="tab-pane fade show active profile-overview" id="profile-overview">
              

              <div class="container section-title" data-aos="fade-up">
                <h2>Detalles del Especialista</h2>
              </div><!-- End Section Title -->


              <div class="row">
                <div class="col-lg-3 col-md-4 label ">Nombre completo</div>
                <p class="col-lg-9 col-md-8">{{usuario.nombre}} {{usuario.apellidos}}</p>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label ">Edad</div>
                <p class="col-lg-9 col-md-8">{{usuario.edad}}</p>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label ">Ubicación</div>
                <p class="col-lg-9 col-md-8">{{usuario.ubicacion}}</p>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Especialidad</div>
                <p class="col-lg-9 col-md-8">{{usuario.especialidad}}</p>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-4 label">Institución de Otorgamiento</div>
                <p class="col-lg-9 col-md-8">{{usuario.institucion}}</p>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-4 label">Cédula Profesional</div>
                <p class="col-lg-9 col-md-8">{{usuario.cedula}}</p>
              </div>
              <h6 class="titulo_perfil">Certificado Académico</h6>
              <div class="row">
                <embed src="data:application/pdf;base64,{{ usuario.certificado }}" type="application/pdf" class="embed-pdf"/>
              </div>
              <br>
              <h6 class="titulo_perfil">Curriculum Profesional</h6>
              <div class="row">
                <embed src="data:application/pdf;base64,{{ usuario.curriculum }}" type="application/pdf" class="embed-pdf"/>
              </div>
            </div>

            {% if usuario.usuario_agregado == 1 %}
            <section id="consultorio">
              <div class="container section-title" data-aos="fade-up">
                <h2>Consultorio</h2>
              </div><!-- End Section Title -->
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Dirección del Consultorio</div>
                  <p class="col-lg-9 col-md-8">{{usuario.direccion}}</p>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Horario de Atención</div>
                  <p class="col-lg-9 col-md-8">{{usuario.apertura}} - {{usuario.cierre}}</p>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Costo General de la Consulta</div>
                  <p class="col-lg-9 col-md-8">${{usuario.costo_consulta}}</p>
                </div>
                <div class="row">
                  <div class="contenedor-mapa-perfil" id="map1"></div>
                </div>
              </section>
              {% endif %}  
          </div><!-- End Bordered Tabs -->
        </div>
      </div>
    </div>
  

    <section id="agenda" class="service-details">
      <div class="col-lg-12" >                
          <div class="card card-block card-stretch">
              <div class="card-body custom-notes-space">
                  <h3 class="">Agenda de Citas</h3>
                  <h5 class="">Recuerda solicitar tu cita en el horario de atención establecido en el apartado de Consultorio.</h5>
                  <div class="iq-tab-content">
                      <div class="d-flex flex-wrap align-items-top justify-content-between">
                          <ul class="d-flex nav nav-pills text-center note-tab mb-3" id="note-pills-tab" role="tablist">                                
                              <li class="nav-item">
                                  <a class="nav-link home active show" data-toggle="pill" data-init="note" href="#note1" role="tab" aria-selected="false">Citas Proximas</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link home" data-toggle="pill" data-init="shared-note" href="#note2" role="tab" aria-selected="true"> Mis Solicitudes de Citas</a>
                              </li>
                          </ul> 
                                    
                      </div>             
                      <div class="note-content tab-content">                                
                          <div id="note1" class="tab-pane fade active show">
                              <div class="calendar-container" id="calendar-container">
                                  <div class="calendar active" id="calendar">{% csrf_token %}</div>
                                  <br>
                              </div>
                              <br>
  
                          </div>
                          <div id="note2" class="tab-pane fade active ">
                              <div class="calendar-container" id="calendar-container2">
                                  <div class="calendar active" id="calendar1">{% csrf_token %}</div>
                              </div>
                              <br>
  
                          </div> 
                      </div> 
                  </div>
              </div>
          </div>
      </div>
  </section>
    
  </div>
</section>

{% endblock %}
 
{% block scripts %}

  <link href="{% static 'lightbox/js/lightbox.js' %}" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'js/googleMapsAPI.js' %}" ></script>
  <script src="{% static 'js/mostrarMapa.js' %}" ></script>
  

<script>
  function eliminarContacto(username) {
      $.ajax({
          url: `/perfil/${username}/eliminar-contacto/`,
          method: 'GET',  // O 'POST' según tu lógica
          success: function(response) {
            if (response.message) {
              $('#botonEliminarContacto').text('Nutriólogo Eliminado').prop('disabled', true);
          }},
          error: function(error) {
              console.error('Hubo un error al eliminar el contacto:', error);
          }
      });
  }
</script>

<script>
  function enviarSolicitud(username) {
      $.ajax({
          url: `/perfil/${username}/enviar-solicitud/`,
          method: 'GET',  // O 'POST' según tu lógica
          success: function(response) {
            if (response.message) {
              $('#botonEnviarSolicitud').text('Solicitud Enviada').prop('disabled', true);
          }},
          error: function(error) {
              console.error('Hubo un error al enviar la solicitud:', error);
          }
      });
  }
</script>

  <script>
    // Espera a que la página se cargue completamente
    document.addEventListener("DOMContentLoaded", function () {
      // Llama a mostrarMapa con la dirección del usuario
      mostrarMapa("{{usuario.direccion}}");
    });
  </script>
  <script>
    var username = "{{ usuario.user}}"; // Obtener el nombre de usuario del nutriólogo
    var paciente_name = "{{ usuario.paciente}}"; // Obtener el nombre de usuario del nutriólogo
    var obtenerCitasPublico = `/obtener_citas_publico/${username}/`;
    var obtenerSolicitudCitasPorNutriologo = `/obtener_solicitud_citas_enviadas/${username}/`;
    var agendarCitasPublico = `/agendar_cita/${username}/`;
  </script>

  <script src="{% static 'js/index.global.min.js' %}" ></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            navLinks: true,
            selectable: true,
            select: function(arg) {
              mostrarModalCrear()
                      .then(function(result) {
                          // Se ejecuta cuando se llenan los campos y se guarda la cita
                          var title= result.title;
                          var paciente = result.paciente;
                          var motivo = result.motivo;
                          var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                          $.ajax({
                            url: agendarCitasPublico,
                            type: 'POST',
                            headers: {
                              'X-CSRFToken': csrfToken  
                            },
                            data: {
                                titulo: title, 
                                start: arg.startStr,
                                end: arg.endStr,
                                paciente: paciente,
                                motivo: motivo
                            },
                            success: function(response) {
                              alert(response.mensaje);
                              calendar.refetchEvents(); 
                              obtenerCitasPublicas();
                            },
                            error: function(xhr, status, error) {
                                console.log(xhr.responseText)
                                console.error('Error al guardar el evento:', error);
                            }
                          });
      
                          calendar.unselect();
                        })
                      .catch(function(error) {
                          // Se ejecuta si hay un error o se cierra el modal sin llenar los campos
                          console.error(error);
                      });

            },
            editable: false,
            dayMaxEvents: true,
            events: obtenerCitasPublico 
        });

        calendar.render();
        inicializarSegundoCalendario();

        function inicializarSegundoCalendario() {
            var calendar1El = document.getElementById('calendar1');
            var calendar1 = new FullCalendar.Calendar(calendar1El, {
        
          headerToolbar: {
              left: 'prev,next today',
              center: 'title',
              right: 'dayGridMonth,timeGridWeek,timeGridDay'
          },
          navLinks: true,
          selectable: true,
          eventClick: function(arg) {
            mostrarModalEliminar().then(function(result) {
              if (result) {
                  // Aquí dentro puedes realizar la lógica después de hacer clic en el botón "Guardar"
                  var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                  $.ajax({
                      url: '/eliminar_solicitud_cita/',
                      type: 'POST',
                      headers: {
                          'X-CSRFToken': csrfToken  
                      },
                      data: {
                          id: arg.event.id
                      },
                      success: function(response) {
                          alert(response.mensaje);
                          arg.event.remove();
                          $('#datos-paciente').attr('id', 'hidden');
                          obtenerCitas();
                      },
                      error: function(xhr, status, error) {
                          console.error('Error al eliminar el evento:', error);
                      }
                  });
              }
          });
          },
          editable: true,
          dayMaxEvents: true,
          events: obtenerSolicitudCitasPorNutriologo  
      });

      calendar1.render();

        }
    });
</script>

<script>
  function mostrarModalEliminar() {
      return new Promise(function(resolve, reject) {
          var modal = $('#eliminarModal');
          modal.modal('show');
  
          // Agrega un evento al botón de guardar dentro del modal
          $('#eliminarModal .btn-primary').on('click', function() {
              modal.modal('hide');
              resolve(true);
          });
  
          $('#eliminarModal .btn-secondary').on('click', function() {
              modal.modal('hide');
              resolve(false);
          });
      });
  }
  </script>

<script>
  function mostrarModalCrear() {
    return new Promise(function(resolve, reject) {
        var modal = $('#listaModal');
        modal.modal('show');

        // Agrega un evento al botón de guardar dentro del modal
        $('#listaModal .btn-primary').on('click', function() {
            // Obtiene los valores del título y del paciente
            var title = $('#tituloCita').val();
            var motivo = $('#motivoCita').val();
            var paciente = paciente_name;

            // Verifica si ambos campos están llenos
            if (title && paciente && motivo) {
                // Resuelve la promesa con los valores
                resolve({ title: title, paciente: paciente, motivo: motivo });

                // Cierra el modal
                modal.modal('hide');
            } else {
                // Rechaza la promesa si no se llenaron ambos campos
                alert("Por favor, llene todos los campos.");
            }
        });
        $('#listaModal .btn-secondary').on('click', function() {
          modal.modal('hide');
        });

    });
}
</script>

<script>
  function obtenerCitasPublicas(){
    $.ajax({
        url: obtenerCitasPublico,  
        type: 'GET',
        success: function(response) {
            // Maneja la respuesta y construye el contenido HTML para mostrar todos los pacientes
            var contenidoHTML = '<ul>';
            $.each(response, function(index, cita) {
              contenidoHTML += `<li><a href="#foto" onclick="changeClass(this)" class="btn" data-id="${cita.id_paciente }"><i class="bi bi-arrow-right-circle"></i><span>${cita.nombre_paciente} | Prox. cita: ${cita.fecha_inicio} ${cita.hora_inicio}</span></a></li>`;

            });
            contenidoHTML += '</ul>';

            // Actualiza el contenido del elemento "datos-paciente"
            $('#pacientes').html(contenidoHTML);
        },
        error: function(response) {
          console.log('LA cagaste:', response);
        }
    });
  }
  $(document).ready(function() {
    // Realiza una solicitud AJAX para obtener las citas de todos los pacientes

    try {
      obtenerCitasPublicas()
    } catch (error) {
      console.log('Error:', error);
    }
    
  });
  </script>
{% endblock %}
